<header>
  <nav>
    <a href="/" class="logo">My Blog</a>
    <div>
      <a href="/">home</a>
      <a href="/contact">contact</a>
      <a href="/about">About-me</a>
      <a href="/authentication">Sign-in</a>
      <a href="/admin">ADMIN</a>
    </div>
  </nav>
  <!-- Autres contenus de l'en-tête ici -->
</header>
