
    <main>
      <section class="login-container">

        <form class="form-login-container" action="/login" method="post">
            <legend>Sign in</legend>
  
            <label htmlFor="name">Username</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required />
  
            <label htmlFor="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required />
  
            <button type="submit">Login</button>
            <p>
                No account yet ?<br/><a href="/register">Create Account</Link>
            </p>
        </form>
      </section>
  </main>

