<main>
  <section class="login-container">

    <form class="form-login-container" action="/login" method="post">
        <legend>Register</legend>

        <label htmlFor="name">Username</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required />

        <label htmlFor="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password" required />
        
        <label htmlFor="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter your confirm Password" required />

        <button type="submit">Create</button>
        <p>
            No account yet ?<br/><a href="/register">Create Account</Link>
        </p>
    </form>
  </section>
</main>

